:root {
    --orangePID : #F57E20;
    --black :black;
    --B1 :#333;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    text-decoration: none;
}

body{
    background-color: black;
    box-sizing: border-box;
    user-select: none;
}

.container {
    padding: 0 2rem 0 2rem ;
    margin-bottom: 3rem
}

/* Main Section */

.main {
    border-bottom :1px solid #F57E20;
    padding-bottom: 4rem;
}

.main h2 {
    margin: 2rem 0 2rem 0;
    color: #fff;
    color : #F57E20;
}

.main .tag {
    margin-bottom: 1.5rem;
    max-width: 70%;
    color: #fff;
    font-weight: 100;
    font-size: 1.5rem;
}

.container{
    padding: 0;
   margin: 0;
}

.carousel {
    height: 160px;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% /12 + 10px);
    gap: 50px;
    overflow: hidden;
    position: relative;
   
}


.carousel .slide {
    border:1px solid #fff;
    padding: 0.8rem;
    height: 115px;
    max-width: 150px;
    width: 100%;
    border-radius: 5%;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
   }

.carousel .slide:hover {
    background-color: #333;
}

.carousel .slide img {
    border-radius: 50%;
    border : 1px solid #fff;
    width: 50px;
    height: 50px;
}

.carousel .slide h3 {
   font-size: 1rem;
   font-weight: 100;
   text-align: center;
   color: #fff;
}

.h3-main{
    margin-top: 1.8rem;
    color: #fff;
}

.btn {
    margin-top: 1.8rem;
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    background-color: #25D366;
    border-radius: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.btn i {
    margin: 0.3rem;
}

.btn:first-child{
    z-index: 1;
}

.btn:hover {
    background-color: #F57E20;
}

/* Testimoni Section */

.testimoni {
    padding-bottom: 3rem;
    border-bottom: 1px solid #F57E20;
}

/* Overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.8s;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.7);
}


h2 {
    margin-top: 8rem;
    color: #F57E20;
    
}

.wrapper {
    scroll-behavior:auto;
    max-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 5 - 16px);
    overflow: hidden;
    gap: 16px;
    list-style-type: none;
    margin: 1.8rem;
    position: relative;
    margin-left: 60px;
}


.swipe-btn {
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    background-color: #333;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
   
}

.swipe-btn:hover {
    background-color: var(--orangePID);
}

.swipe-btn:first-child{
    left: 15px;
    transform: translateY(170%);
}

.swipe-btn:last-child {
    right: 23px;
    transform: translateY(-330%);
}

.testi-slider .wrapper .slide-testi img {
    height: 150px;
    object-fit: scale-down;
    width:180px;
    cursor: grab;
    user-select: none;
    border-radius: 5%;
    border: 1px solid #fff;
}


/* Artikel Section */

.Artikel {
    height: 60vh;
     margin-bottom: -190px;
}

.wrapper .kategori {
    display:flex;
    gap: 5px;
   
}

.kategori a {
  white-space: nowrap;
  border: 1px solid #fff;
  padding: 0 1.8rem;
  border-radius : 5% ;
}

.Artikel .h3-kategori span {
        color: #F57E20;
        font-size: 1.8rem;
        font-weight: bold;
        position: absolute;
        right: 30px;
        transform: translatey(50%)
}

.kategori a:hover {
    background-color: #f6bb91;
    color: #333;
    text-decoration: none;
}

.artikel-slide {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ar-slide {
    padding-top: -20px ;
    object-fit: cover;
}

.ar-slide img {
    margin-top: -50px;
    height: 120px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid #fff;
}

.numberSlide {
    max-width: 99%;
    position: relative;
    padding: 0.8rem 0 0 0.8rem; 
    transform: translateY(100%);
}

.numberSlide h4 {
    font-size: 1.3rem;
    color : #F57E20;   
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

/* Footer Section */


.footer {
    margin-top: 30rem;
    border-top: 1px solid #F57E20 ; 
}

.footer h3 {
    font-size: 2rem;
    margin: 1.8rem  ;
    text-align: center;
}

.footer .link {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    gap : 16px;
}

.footer  h4 {
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    }
    
    
.footer a:hover {
    color: #F57E20;
}



@media screen and (max-width :768px) {
   

    .main .tag {
        max-width: 70%;
        font-size: 3rem;
    }

    .carousel {
        grid-auto-columns: calc(100% / 4 - 50px);
    }

    .carousel .slide h3 {
       font-size: 1rem;
    }
    
    .wrapper {
        grid-auto-columns: calc(100% / 3);
    }

    .conten-slide {

      display: none;
    }

    .imgslide {
        overflow: hidden;
        
    }
    
    .footer {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .footer h4 {
        
        font-size: 0,rem;
        text-align: center;
        
    }

}

@media screen and (max-width :450px) {
    
    .main h2 {
        font-size :3rem;
    }
    
    .btn {
        position: relative;
        width:125px;
        height: 40px;
        font-size: 2rem;
        padding: 0.8rem;
        transform: translateX(78%);
    }
    
    .main .tag {
        max-width: 90%;
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
    
    .h3-main {
        margin-top: -30px;
        position:relative;
        font-size: 2.9rem;
        text-align: center;
    }
    
    .carousel {
        position: relative;
        margin-left: -3px;
    }
    
    .slide h3 {
        margin:0;
    }

    .carousel {
        grid-auto-columns: calc(100% / 3 - 15px);
    }
    
    .carousel .slide {
        height: 125px;
        width: 90px;
        white-space: nowrap;
        padding: 0.5rem;
    }

    .carousel .slide h3 {
       font-size: 2rem;
    }
    
    .wrapper {
        grid-auto-columns: calc(100% / 2 - 8px);
        margin-left: -3px;
    }
    
    .Artikel {
        margin-bottom: -125px;
    }
    
    .testimoni h2 {
        font-size: 3rem;
    }
    
    .Artikel .h3-kategori span {
        color: #F57E20;
        font-size: 1.8rem;
        font-weight: bold;
        position: absolute;
        right: 30px;
        transform: translatey(50%)
        }
        
        .h2-artikel {
            font-size: 3.5rem;
        }
        
        .h3-kategori {
            font-size: 2.5rem
        }
        
        .artikel-slide {
            max-width: 450px;
            width: 100%;
            position: relative;
            padding-left: 260px;
            overflow-x: hidden;
            
        
        }
        
        .ar-slide {
            margin-top: 5rem;
            white-space: nowrap;
            scroll-behavior: calc(100% / 1);
        }
        
        .ar-slide img {
            width: calc(100% / 1);
        }
        
        
        .numberSlide h4 {
            font-size: 2rem;
            margin: 0 0.8rem 0 0;
        }

    .footer {
    height: 20vh;
    display: block;
    }
    .footer .link {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    gap: 16px;
    }
    
    .footer h3 {
        font-size: 3rem;
    }

    .footer  h4 {
    font-weight: 100;
    font-size: 2.8rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    }
    
    
    .footer a:hover {
    color: #F57E20;
    }